<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link href="/styles/output.css" rel="stylesheet">
</head>
<style>

</style>

<body>
    <h1 class="text-2xl font-bold mb-4">CREATE YOUR ACCOUNT</h1>

        <form  action="/register" method="POST">
            <div>
                <label for="">Username:</label>
                <input type="text" id="Username" placeholder="username">
            </div>
            <div>
                <label for="">E-mail:</label>
                <input type="text" id="e-mail" placeholder="e-mail">
            </div>
            <div>
                <label for="">password:</label>
                <input type="password" id="password" placeholder="password">
            </div>
            <div>
                <button type="Submit">Register</button>
            </div>
            <p>Already have an account? <a href="/open" class="open">Login</a></p>
        </form>
</body>

</html>